// $c-primary: #332e2e;
// $c-secondary: #46a86c;
// $c-light: #f5574e;
// $c-dark-red: #a8544f;
// $c-pink: #f5857f;

$c-primary: #7c8b9c;
$c-secondary: #e1e8ba;
$c-light: #eb7167;
$c-grey: #d1dce8;
$c-dark-green: #989c84;
