// $c-primary: #332e2e;
// $c-secondary: #46a86c;
// $c-light: #f5574e;
// $c-dark-red: #a8544f;
$c-pink: #f5857f;

// $c-primary: #7c8b9c;
// $c-secondary: #e1e8ba;
// $c-light: #eb7167;
// $c-grey: #d1dce8;
// $c-dark-green: #989c84;

$c-primary: #2b2b2c;
$c-secondary: #e94436;
$c-light-grey: #f3f3f3;
$c-light: #e82744;
$c-grey: #b0b1b3;
$c-dark-green: #26ab3f;
