@import '@/assets/scss/_var.scss';

.travelDetailItem {
  line-height: 1.5;
  color: $c-primary;
  h3 {
    color: $c-dark-green;
    font-weight: 500;
    font-size: 2rem;
  }
  p {
    font-size: 1.8rem;
  }
}
