@import '@/assets/scss/_var.scss';

.travel {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  overflow: hidden;

  h1 {
    font-size: 2.4rem;
    font-weight: 900;
    padding-top: 0.5rem;
    color: $c-secondary;
  }
}

.search-form {
  margin-top: 1rem;
  width: 100%;
}

.content {
  margin-top: 2rem;
  overflow: auto;
  flex: 1;
  width: 100%;
}

.remind {
  font-size: 1.8rem;
  color: $c-primary;
  text-align: center;
}
