@import '@/assets/scss/_var.scss';

.wrapper {
  max-width: 40rem;
  width: 100%;
  min-height: 100vh;
  background-color: $c-light-grey;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.4);
  position: relative;
  padding-left: 5rem;
}

#map {
  width: calc(100% - 40rem);
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
}
