@import '@/assets/scss/_var.scss';

.wrapper {
  max-width: 50rem;
  width: 50%;
  min-height: 100vh;
  background-color: $c-light-grey;
  position: relative;
  padding-left: 4.5rem;
  @media (max-width: 640px) {
    max-width: none;
    width: 100%;
  }
}

.map-wrap {
  width: calc(100% - 50rem);
  min-width: 50%;
  position: fixed;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 10;
  @media (max-width: 640px) {
    width: calc(100% - 4.5rem);
    min-width: none;
    right: auto;
    left: 100%;
    transition: left 0.3s;
    display: block;
    &.active {
      left: 4.5rem;
    }
  }
  #map {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .map-button {
    width: 8rem;
    height: 8rem;
    background-color: $c-dark-green;
    border-radius: 50%;
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(50%, 0);
    z-index: 2;
    display: none;
    font-size: 2rem;
    color: #fff;
    transition: left 0.3s;
    cursor: pointer;
    @media (max-width: 640px) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    i {
      transform: translate(-75%, -10%);
    }
  }
}
