@import '@/assets/scss/_var.scss';

.busDetail {
  padding-bottom: 5rem;
  .top {
    text-align: center;
    padding: 1rem;
    position: sticky;
    top: 0;
    background-color: $c-light-grey;
    z-index: 10;
  }
  .title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .city {
      background-color: $c-dark-green;
      color: #fff;
      padding: 0.4rem 1rem;
      border-radius: 9999px;
    }
    .route-name {
      margin-left: 1rem;
      padding-left: 1rem;
      border-left: 1px solid $c-grey;
      padding: 0.1rem 0 0.3rem 1rem;
      flex: 1;
      text-align: left;
      line-height: 1.2;
      span {
        margin-right: 0.5rem;
        font-size: 1.8rem;
        font-weight: 700;
        color: $c-secondary;
      }
    }
  }
  .station-name {
    background-color: #fff;
    padding: 1rem 0;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 5px;
    margin-top: 1rem;
    .station-arrow {
      color: $c-secondary;
      font-size: 2.2rem;
      padding: 0.5rem 0;
    }
  }
}
