@import '@/assets/scss/_var.scss';

.travelSearchList {
  padding-bottom: 2rem;
}

.search-item {
  color: #fff;
  background-color: $c-primary;
  line-height: 1.2;
  cursor: pointer;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  p {
    flex: 1;
    padding: 1rem;
  }
  .appLink {
    display: flex;
    width: 50px;
    justify-content: center;
    align-items: center;
  }
  &:not(:first-child) {
    margin-top: 1rem;
  }
  &:hover {
    background-color: $c-grey;
  }
  &.active {
    background-color: $c-secondary;
  }
}
