@import '@/assets/scss/_var.scss';

.travelSearchList {
  padding-bottom: 2rem;
}

.search-item {
  color: $c-primary;
  line-height: 1.2;
  cursor: pointer;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
  p {
    flex: 1;
    padding: 1rem;
  }
  a {
    color: #fff;
    background-color: $c-dark-green;
  }
  .appLink {
    display: flex;
    width: 50px;
    justify-content: center;
    align-items: center;
  }
  &:not(:first-child) {
    margin-top: 1rem;
  }
  @media (min-width: 769px) {
    &:hover {
      background-color: $c-primary;
      color: #fff;
      a {
        color: #fff;
      }
    }
  }
  &.active {
    background-color: $c-secondary;
    border-color: $c-secondary;
    color: #fff;
    a {
      color: #fff;
    }
  }
}
