@import '@/assets/scss/_var.scss';

.search-list {
  padding-bottom: 2rem;
}

.search-item {
  color: #fff;
  background-color: $c-primary;
  line-height: 1.2;
  cursor: pointer;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  &:not(:first-child) {
    margin-top: 1rem;
  }
  .appLink {
    flex: 1;
    padding: 1rem;
    display: inline-block;
    width: 100%;
  }
  &:hover {
    .appLink {
      background-color: $c-grey;
    }
  }
}
