@import '@/assets/scss/_var.scss';

.detail {
  width: 100%;
  padding: 0 0 5rem;
  .title {
    position: sticky;
    top: 0;
    background-color: $c-light-grey;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    margin-bottom: 1rem;
    padding: 1rem;
    h1 {
      font-size: 2rem;
      font-weight: 700;
      color: $c-secondary;
      line-height: 1.4;
      flex: 1;
    }
  }
  .content {
    padding: 0 1rem;
  }
}

.travelDetailItem + .travelDetailItem {
  margin-top: 1rem;
}
