@import '@/assets/scss/_var.scss';

.busDetail {
  padding-bottom: 5rem;
  .top {
    text-align: center;
    padding: 1rem;
  }
  .title {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    .city {
      background-color: $c-dark-green;
      color: #fff;
      padding: 0.4rem 1rem;
      border-radius: 9999px;
    }
    .route-name {
      margin-left: 1rem;
      padding-left: 1rem;
      border-left: 1px solid $c-grey;
      padding: 0.1rem 0 0.3rem 1rem;
      span {
        margin-right: 0.5rem;
        font-size: 1.8rem;
        font-weight: 700;
        color: $c-secondary;
      }
    }
  }
  .station-name {
    background-color: #fff;
    padding: 1rem 0;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 5px;
    margin-top: 1rem;
    .station-arrow {
      color: $c-secondary;
      font-size: 2.2rem;
      padding: 0.5rem 0;
    }
  }
  .direction {
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin-top: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    li {
      padding: 1rem;
      flex: 1;
      color: #fff;
      background-color: $c-grey;
      cursor: pointer;
      font-size: 1.4rem;
      span {
        color: $c-primary;
        font-size: 1.8rem;
        font-weight: 700;
        margin-top: 0.5rem;
        margin-left: 0.5rem;
        display: block;
      }
      &.active {
        background-color: $c-primary;
        span {
          color: $c-secondary;
        }
      }
    }
  }
}

.bus-result {
  padding: 0 1rem;
  font-size: 1.8rem;
  text-align: center;
  .bus-stop {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
    line-height: 1.3;
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
    &:not(:first-child) {
      margin-top: 1rem;
    }
  }
  .stop-number {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $c-grey;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .stop-status {
    width: 50%;
    padding: 0 1rem;
  }
  .stop-detail span {
    display: block;
    color: #fff;
    padding: 0.46rem 1rem;
    border-radius: 9999px;
    font-size: 1.6rem;
    & + span {
      margin-top: 0.5rem;
    }
    &.error {
      background-color: $c-primary;
    }
    &.notYet {
      background-color: $c-grey;
    }
    &.now {
      background-color: $c-secondary;
    }
    &.almost {
      background-color: $c-dark-green;
    }
  }
  .stop-name {
    flex: 1;
    font-size: 1.6rem;
    padding: 0.46rem 0;
  }
}
